<h2>Create New Budget Category</h2>
<form action="/budget/categories" method="post"
  <dl>
    <dd>
      <label for="name">Category Name:</label>
      <input name="name" type="text" value="">
    </dd>
    <dd>
      <label for="max_amount">Monthly Budget:</label>
      <input name="max_amount" type="text" value="">
    </dd>
  </dl>

  <input type="submit" value="Save">
  <a href="/budget">Cancel</a>
</form>